.card {
  width: 500px;
  height: 10px;
  background-color: aqua;
  margin: 40px 110px;
  padding-top: 10px;
}
.proimage {
  width: 90px;
  height: 100px;
}
.butar {
  font-size: 12px;
  background-color: white;
  border-radius: 2px;
  border-color: rgb(178, 178, 227);
  border-width: 1px;
  margin-left: 5px;
  margin-bottom: 5px;
}
.buttonend {
  justify-content: end;
}
.dprice {
  display: flex;
  justify-content: end;
  margin-left: 200px;
}

.butad {
  font-size: 12px;
  border-style: none;
  margin-bottom: 5px;
  border-radius: 2px;
  color: #c18f13;
  background-color: #fff1cf;
}
.butar2 {
  margin-left: 100px;
}

.butar3 {
  color: #08316d;
}
.butam {
  padding: 1px 10px;
  font-size: 12px;
  border-style: none;
  margin-bottom: 5px;
  border-radius: 2px;
  color: #c18f13;
  background-color: #fff1cf;
}

.namet {
  font-size: 14px;
  color: #08316d;
  font-weight: 600;
}
.procecol {
  color: #08316d;
  font-weight: 900;
}

.heady {
  margin-left: 100px;
  margin-top: 50px;
}
.addbut {
  margin-left: 290px;
  background-color: white;
  border-radius: 5px;
  border-color: rgb(178, 178, 227);
  border-width: 1px;
}
.dfont {
  font-size: 12px;
}
