.footer {
  background-color: #08316d;
  height: 370px;
}

.logo-footer {
  margin: 70px 90px;
  width: 25%;
  height: 140px;
}
.line1 {
  border-left: solid white;
  height: 200px;
}
.box2 {
  padding-top: 50px;
}
.box3 {
  padding-top: 50px;
}
