.navbar {
  background-color: #08316d;
}

.location {
  margin-left: 100px;
}

.searchbox {
  padding-left: 270px;
  margin-top: 5px;
  padding-top: 15px;
}
.my {
  position: absolute;
  bottom: 9px;
  right: 23px;
}
.rows {
  position: relative;
  margin-left: 10px;
}
.bound {
  padding: 10px;
  width: 70px;
}
