.heady1 {
  margin-top: 50px;
  text-align: start;
  padding-left: 120px;
  background-image: url(../../img/bg2.png);
  background-repeat: no-repeat;
  background-position: 300px 200px;
}
.dollor {
  margin-left: 100px;
}
